<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reverse Dictionary</title>
  <link rel="stylesheet" type=text/css href="..\static\styles\stylesheet.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
     
      <div class="center">
          <p class="active"> claire's <span class="logo">
              address book </span></p>
        </div>
        <div class="navbar">
    
            <a href="/" class="selected">about</a>
            {% if session['logged in'] == True %}
            <a href="account">account</a>
            {% else %}
            <a href="login">login</a>
            {% endif %}
            <a href="reviews">reviews</a>
            <a href="addressbook">address book</a>
            <a href="contact">contact us</a>
    
        </div>
    
</header>

{% block content %}
<h1 class="title"> User  <span>Profile</span></h1>
<div class="user-profile">
	
    <div class="username">{{profile[0]}}</div>
    <div class="email">	{{profile[1]}} </div>
   <a href="{{ url_for('logout') }}" class="logout">Log Out </a>

  
</div>
 {% endblock %}


</body>
</html>