@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300|Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

body {
  
    
  margin:0;
    font-family: 'Lato', sans-serif;
    background-color: black;
  }
    
  
    
    
    
    /* navigation bar */
    
    .navbar {
      position: relative;
      overflow: hidden;
      padding-left: 0.7%;
      padding-top:0.7%;
      padding-bottom:0.7%;
      background-color: #81cce8;
      border-bottom: 4px solid white;
      border-top: 4px solid white;
      
    }
    
    
    .active{
        color:#4E4E4E;
    }
    
    .navbar a {
      display: inline-block;
      position: relative;
      font-family:'Karma', serif;
      text-decoration: none;
      letter-spacing: -1px;
      font-weight:600;
      text-decoration: none;
      font-size: 1.5em;
      color:black;
      margin: 0 3.8em;
      
   }
   .navbar a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 6px solid #fff;
      
      transition: 0.4s;
   }
   .navbar a::after:hover {
      width: 100%;
   }
   .navbar a:hover:after {
      width: 100%;
   }
    
    .selected {
      color: black;
    }
    .center p {
      float: none;
      margin-bottom:0%;
      margin-left: 61%;
      margin-top:2.5%;
      transform: translate(-50%, -50%);
      font-weight: bolder;
      font-size: 27px;
      font-family:'Karma', serif;
      color:white;
    }
    
    .logo {
      font-family: "Alegreya Sans", sans-serif;
      background-color: #81cce8;
      border-radius:3%;
      color: white;
      letter-spacing: 2px;
    }

    
  #full-form {
      
      background-color:whitesmoke;
      background-size: cover;
      background-position: center center;
      width: 380px;
       height: 400px;
         margin-left:35%;
    margin-top:-0.5%;
    margin-top: 1%;
    margin-bottom:2%;
          box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
          border-radius:2%;
  }
  
  .sign {
          padding-top: 60px;
          color: black;
          font-family: 'Questrial', sans-serif;
          font-weight: bold;
          font-size: 23px;
      }
  
  .user {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 30px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Questrial', sans-serif;
      }
  
    form.form1 {
          padding-top: 40px;
      }
  
   .pass {
              width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 30px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Questrial', sans-serif;
      }
  
  .submit {
        cursor: pointer;
          border-radius: 5em;
          color: white;
          background: black;
    
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Questrial', sans-serif;
          margin-left: 28%;
          font-size: 15px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      }
  
  .register {
          text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
          color: black;
          padding-top: 25px;
          
      }
  
   a {
          text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
          color: #81cce8;
          font-weight: bolder;
          text-decoration: none
          
      }

      #addressBook {
        border-collapse: collapse;
        width: 100%;
        
      }
      
      #addressBook td, #addressBook th {
        border: 1px solid #ddd;
        padding: 8px;
        background-color: #ddd;
      }
      
   
      
      #addressBook th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }

     #whole{
      margin-top:3%;
  
     }
  
      